.container {
  margin: 20px auto 50px;
<<<<<<< HEAD
  max-width: 1218px;
  width: 100%;
  height: fit-content;
} 

.card-container {
  max-width: 300px;
  max-height: 500px;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  transition: all 0.3s ease-out;
  background-color: #D6E8DB;
=======
  max-width: 76.125rem; /*1218px*/
  width: 100%;
  height: fit-content;
  margin-top: 5rem;
} 

.card-container {
  max-width: 25rem;
  max-height: 34.375rem;
  border-radius: 10px;
  width: 25rem;
  height: 34.375rem;
  transition: all 0.2s ease-out;
  background-color: #dff7e0d0;
>>>>>>> Nathan
  border: 2px solid black;
  text-align: center;
}

.card-container:hover {
  transform: scale(1.05);
}


.card-image {
  max-width: 100%;
<<<<<<< HEAD
  max-height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
=======
  max-height: 55%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
>>>>>>> Nathan
}

@media  (max-width: 1218px){
  .container { max-width: 712px}
  .card-container { 
    max-width: 300px;
    max-height: 350px; 
  }
}

.course-list li {
  margin-bottom: 10px;
}

.course-image {
  max-width: 100%;
  border-radius: 5px;
<<<<<<< HEAD
=======
}

.course-card-row{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.course-card-row-bottom{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}

.introduction2{
  font-size: 24px;
  text-align: left;
>>>>>>> Nathan
}