.container {
  margin: 20px auto 50px;
  max-width: 1218px;
  width: 100%;
  height: fit-content;
} 

.card-container {
  max-width: 300px;
  max-height: 500px;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  transition: all 0.3s ease-out;
  background-color: #D6E8DB;
  border: 2px solid black;
  text-align: center;
}

.card-container:hover {
  transform: scale(1.05);
}


.card-image {
  max-width: 100%;
  max-height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media  (max-width: 1218px){
  .container { max-width: 712px}
  .card-container { 
    max-width: 300px;
    max-height: 350px; 
  }
}

.course-list li {
  margin-bottom: 10px;
}

.course-image {
  max-width: 100%;
  border-radius: 5px;
}