.card{
    display: inline-block;
    margin: 3.125rem;
    box-sizing: border-box;
}

.card-image{
    height: 23.438rem;
    width: 23.438rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.card-image:hover{
    opacity: 90%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {
    .card-image{
        width: 18rem;
        height: 18rem;
    }
}

@media only screen and (min-width: 450px) {
    .card-image{
        width: 20rem;
        height: 20rem;
    }
}
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 770px) {

}
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}