.card{
    display: inline-block;
    margin: 3.125rem;
    box-sizing: border-box;
}

.card-image{
    height: 23.438rem;
    width: 23.438rem;
    cursor: pointer;
}

.card-image:hover{
    opacity: 90%;
}