.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
    padding: 0;
}

.heading h1{
    color: #595b5c;
    font-size: 4rem;
    font-family: 'Balthazar', serif;
}
