.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -75px;
    padding: 0;
}

.heading h1{
    color: #595b5c;
    font-size: 4rem;
    font-family: 'Balthazar', serif;
}

.catchphrase{
    color: black;
    font-size: 1.2rem;
    margin-top: 0px;
    transform: translateY(-4.5rem);
    font-family: 'Balthazar', serif;
}