.showcase-container {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slideshow{
  width: 70rem;
  height: 50rem;
  margin: 5rem auto 12rem;
  text-align: center;
  
}

.slideshow-image{
  width: 70rem;
  height: 50rem;
}



