.navBar{
  text-align: center;
  height: 3.5rem;
  margin: 0;
  padding: 0;
  transform: translateY(-3rem);
}

.navButton{
    margin-bottom: 2rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    font-family: 'Balthazar', serif;
    font-size: 2rem;
    border: none;
    background-color: white;

}

.navButton:hover{
  text-decoration: underline;
  text-decoration-color: #798b99;
  
}